<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SiteUrl" value="http://governotransparente.org.br" />
    <add key="FerramentaUrl" value="http://ferramenta.governotransparente.org.br" />
    <!--Ativa ou inativa o serviço de e-mail-->
    <add key="email.allow" value="true" />
    <!--E-mail do remetente-->
    <add key="email.sender" value="process@ylab.com.br" />
    <!-- E-mail de envio de erros-->
    <add key="email.bugEmail" value="contato@ylab.com.br" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" port="587" password="2013201311" userName="pivetz" host="smtp.sendgrid.net" />
      </smtp>
    </mailSettings>
  </system.net>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FdtConnection" connectionString="metadata=res://*/DAL.FdtModel.csdl|res://*/DAL.FdtModel.ssdl|res://*/DAL.FdtModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persist security info=True;database=fdt&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>